body {
    margin: 0;
    padding: 0;
    font-family:"Geist Mono" ;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns:200px 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4.5fr;
    grid-template-areas:
    "aside header header header"
    "aside main main main";
}

/* __________ Header __________ */

.header{
    grid-area: header;
    box-shadow: 0px 1px 20px 1px hwb(135 56% 43% / 0.384);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 15px;
}

/* __________ Aside __________ */

.aside{
    grid-area: aside;
    background-color: #997777;
    
    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
}

/* __________ Main __________ */

.main{
    grid-area: main;
    background-color: #afaf9a;
}

/* __________ Main __________ */

.material-icons-outlined{

    vertical-align: middle;
    text-align: center;
    line-height: 2px;
    font-size: 40px;
}

/* __________ Aside LOGO __________ */

.sidebar-title{
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;

    box-shadow: 0 1px 10px 2px rgba(49, 18, 189, 0.39);
}

/* __________ Aside List Item __________ */

.sidebar-list{
    color: inherit;
    list-style-type: none;
    
}

.sidebar-list-item {
    padding-top: 2rem;
    
}

.sidebar-list-item a{
    color: inherit;
    text-decoration: none;
}