body {
    margin: 0;
    padding: 0;
    font-family:"Geist Mono" ;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns:200px 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4.5fr;
    grid-template-areas:
    "aside header header header"
    "aside main main main";
}

/* __________ Header __________ */

.header{
    grid-area: header;
    box-shadow: 0px 1px 20px 1px hwb(135 56% 43% / 0.384);
    
}

/* __________ Aside __________ */

.aside{
    grid-area: aside;
    background-color: #997777;

}

/* __________ Main __________ */

.main{
    grid-area: main;
    background-color: #afaf9a;
}
